<!doctype html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh">
    <div class="card shadow" style="width: 420px">
        <div class="card-body p-4">
            <h4 class="card-title text-center mb-4">🎓 Đăng nhập hệ thống</h4>

            <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

            <div th:if="${param.error}" class="alert alert-danger">
                Tên đăng nhập hoặc mật khẩu không đúng!
            </div>

            <div th:if="${param.logout}" class="alert alert-info">
                Bạn đã đăng xuất thành công.
            </div>

            <form th:action="@{/auth/login}"
                  th:object="${loginDTO}"
                  method="post">
                <div class="mb-3">
                    <label class="form-label">Tên đăng nhập</label>
                    <input type="text" name="username" class="form-control"
                           placeholder="Nhập tên đăng nhập"  autofocus>
                </div>

                <div class="mb-3">
                    <label class="form-label">Mật khẩu</label>
                    <input type="password" name="password" class="form-control"
                           placeholder="Nhập mật khẩu" >
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
            </form>

            <hr>
            <p class="text-center mb-0">
                Chưa có tài khoản?
                <a th:href="@{/auth/register}">Đăng ký ngay</a>
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>